.orange {
  color:orange;
}

.container{
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.profile {
  
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: ebebeb;
  box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.75);
border-radius: 20px;
}

.photo {
  width: 50%;
  height: 50%;
  border-radius: 100%;
}